@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behaviour: smooth;
}

.bg-custom-gradient {
    background: linear-gradient(270.04deg, #6C57DB 0.05%, rgba(12, 25, 31, 0.79) 97.84%), #00B8D9;
    transition: all 0.5s linear;
}

button.bg-custom-gradient:hover {
    background: linear-gradient(80.04deg, #6C57DB, rgba(12, 25, 31, 0.79) 97.84%), #6C57DB 0.05%;
}

.swiper {
    padding-bottom: 50px !important;
}
.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0 !important;
}
.swiper-pagination .swiper-pagination-bullet{
    width: 18px;
    height: 5px;
    border-radius: 3px;
    background-color: #6C57DB;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none !important
}